body{
    margin: 0px;
    font-family: sans-serif;
 background-image: url("img/cinema.jpg");
 background-position: center;
 background-size: cover;
}

h1{
    margin: 0px;
}

.card{
    background-color: #f1f1f1;
    width: 30%;
    margin: 100px auto 0px auto;
    padding: 40px;
    border: 30px;
    border-radius: 16px;
    
}

.card input{
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.card h1{
    text-align: center;
    font-weight: 100;
    color: #636262;
}

.card button{
    
    text-align: center;
    margin: 10px;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #ffffff;
        padding: 10px 20px;
        background: -moz-linear-gradient(
            top,
            #ff2819 0%,
            #ab0000);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#ff2819),
            to(#ab0000));
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        border: 1px solid #7d0000;
        -moz-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 2px rgba(255,255,255,0.7);
        -webkit-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 2px rgba(255,255,255,0.7);
        box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 2px rgba(255,255,255,0.7);
        text-shadow:
            0px -1px 0px rgba(000,000,000,0.4),
            0px 1px 0px rgba(255,255,255,0.3);
}

.card img{
    width: 200px;
    display: block;
    margin: auto;
}

.rodape{

    text-align: center;
    margin: 10px;
    font-size: 10pt;
    color: lightgray;
}

.rodape a{
    text-decoration: none;
    color: #636262;
}



